
<div class="header-content text-md-center" *ngIf="displaymain">
    <p>{{displayTitle}} test</p>
    <button mat-button  color="success" style="float: left" (click)="StartTest()">Take test</button>
    <button mat-button  color="success" style="float: right" (click)="OnClose()">Close</button>
</div>
<div *ngIf="displayQuestion">
<app-question [question]="question" [options]="options" *ngIf="hasQuestion" (optionEvent)="SelectedOptionHandler($event)"></app-question>
<div *ngIf="!hasQuestion" > No more questions</div>
<br>
<button mat-button  color="success" style="float: left" (click)="EndTest()">End Test</button>
<button mat-button  color="success" style="float: right" *ngIf="hasQuestion" (click)="SubmitAndNextQuestion()">Submit</button>
</div>
<div *ngIf="displayResult">
<app-result [moodImageUrl]="moodImageUrl" [score]="score" [description]="description" [summary]="summary"></app-result>
<br>
<button mat-button  color="success" style="float: right" (click)="OnClose()">Close</button>
</div>